<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pchriscutvolumetitle</key>
	<array>
		<string>创,创世纪</string>
		<string>出,出埃及记</string>
		<string>利,利未记</string>
		<string>名,民数记</string>
		<string>申,申命记</string>
		<string>书,约书亚记</string>
		<string>士,士师记</string>
		<string>得,路得记</string>
		<string>撒上,撒母耳记上</string>
		<string>撒下,撒母耳记下</string>
		<string>王上,列王记上</string>
		<string>王下,列王纪下</string>
		<string>代上,历代志上</string>
		<string>代下,历代志下</string>
		<string>拉,以斯拉记</string>
		<string>尼,尼希米记</string>
		<string>斯,以斯帖记</string>
		<string>伯,约伯记</string>
		<string>诗,诗篇</string>
		<string>箴,箴言</string>
		<string>传,传道书</string>
		<string>歌,雅歌</string>
		<string>赛,以赛亚书</string>
		<string>耶,耶利米书</string>
		<string>哀,耶利米哀歌</string>
		<string>结,以西结书</string>
		<string>但,但以理书</string>
		<string>何,何西阿书</string>
		<string>珥,约珥书</string>
		<string>摩,阿摩司书</string>
		<string>俄,俄巴底亚书</string>
		<string>拿,约拿书</string>
		<string>弥,弥迦书</string>
		<string>鸿,那鸿书</string>
		<string>哈,哈巴谷书</string>
		<string>番,西番雅书</string>
		<string>该,哈该书</string>
		<string>亚,撒迦利亚书</string>
		<string>玛,玛拉基书</string>
		<string>太,马太福音</string>
		<string>可,马可福音</string>
		<string>路,路加福音</string>
		<string>约,约翰福音</string>
		<string>徒,使徒行传</string>
		<string>罗,罗马书</string>
		<string>林前,哥林多前书</string>
		<string>林后,哥林多后书</string>
		<string>加,加拉太书</string>
		<string>弗,以弗所书</string>
		<string>腓,腓立比书</string>
		<string>西,歌罗西书</string>
		<string>贴前,帖撒罗尼迦前书</string>
		<string>贴后,帖撒罗尼迦后书</string>
		<string>提前,提摩太前书</string>
		<string>提后,提摩太后书</string>
		<string>多,提多书</string>
		<string>门,腓利门书</string>
		<string>来,希伯来书</string>
		<string>雅,雅各书</string>
		<string>彼前,彼得前书</string>
		<string>彼后,彼得后书</string>
		<string>约一,约翰一书</string>
		<string>约二,约翰二书</string>
		<string>约三,约翰三书</string>
		<string>犹,犹大书</string>
		<string>启,启示录</string>
	</array>
	<key>pchristmenu</key>
	<array>
		<dict>
			<key>memutitle</key>
			<string>圣经</string>
			<key>memupagetype</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>memutitle</key>
			<string>笔记</string>
			<key>memupagetype</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>memutitle</key>
			<string>高亮</string>
			<key>memupagetype</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>memutitle</key>
			<string>计划</string>
			<key>memupagetype</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>memutitle</key>
			<string>设置</string>
			<key>memupagetype</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>pchristquicksetmenu</key>
	<array>
		<dict>
			<key>quickmemutitle</key>
			<string>搜索</string>
			<key>quickmemutype</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>文字设置</string>
			<key>quickmemutype</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>亮度设置</string>
			<key>quickmemutype</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>阅读</string>
			<key>quickmemutype</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>pchristquickeditmenu</key>
	<array>
		<dict>
			<key>quickmemutitle</key>
			<string>复制</string>
			<key>quickmemutype</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>高亮</string>
			<key>quickmemutype</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>0.0</string>
			<key>quickmemutype</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>笔记</string>
			<key>quickmemutype</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>quickmemutitle</key>
			<string>分享</string>
			<key>quickmemutype</key>
			<integer>7</integer>
		</dict>
	</array>
	<key>pchrissetmenu</key>
	<array>
		<array>
			<string>设置模式</string>
			<string>字体大小</string>
			<string>亮度调节</string>
		</array>
		<array>
			<string>评价软件</string>
			<string>检查更新</string>
			<string>分享应用</string>
		</array>
		<array>
			<string>软件说明</string>
			<string>开发者</string>
		</array>
	</array>
</dict>
</plist>
